<nav>
  <ul>
    <li><a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</a></li>
    <li><a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Register</a></li>
    <li><a routerLink="/articles/list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Articles List</a></li>
    <li><a routerLink="/articles/create" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Create Article</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>