<nav>
  <ul>
    <li>
      <a
        routerLink="/auth/login"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Login</a
      >
    </li>
    <li>
      <a
        routerLink="/auth/register"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Register</a
      >
    </li>
    <li>
      <a
        routerLink="/article/list"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Articles List</a
      >
    </li>
    <li>
      <a
        routerLink="/article/create"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Create Article</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
