<div class="article-item"  [class]="article.isOnSale ? 'article-item sale' : ''">
    <a routerLink="/article/detail/{{article.id}}"><img [src]="article.imageUrl | emptyimage"></a>
    <div class="container">
        <div class="name">{{article.name}}</div>
        <div class="prize" [class]="!article.isOnSale ? 'prize not-on-sale' : ''">{{article.price | currency : 'EUR' : 'symbol' : '1.2-2'}}</div>
        <div class="quantity" *ngIf="article.isOnSale">
            <div><button [disabled]="article.quantityInCart == 0" (click)="decrementInCart()">-</button></div>
            <div>{{article.quantityInCart}}</div>
            <div><button (click)="incrementInCart()">+</button></div>
        </div>
    </div>
</div>