<h3>{{ message }}</h3>
<div class="form-group">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="input-field">
      <label for="username">Username:</label>
      <input
        type="text"
        placeholder="Username"
        name="username"
        formControlName="username"
      />
      <div class="error" *ngIf="username.invalid">Username is mandatory</div>
    </div>
    <div class="input-field">
      <label for="password">Password:</label>
      <input
        type="password"
        placeholder="Password"
        name="password"
        formControlName="password"
      />
      <div class="error" *ngIf="password.invalid">Password is mandatory</div>
    </div>
    <button type="submit">Login</button>
  </form>
</div>
