.article-item {
  border: 1px solid black;
  border-radius: 5px;
  margin: 12px;
  padding: 12px;
  display: inline-block;
}

.article-item .details {
  text-align: center;
}

.article-item.sale {
  background-color: #c3c3e5;
}

.article-item img {
  width: 400px;
}
